@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html, body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: #0f0D0D;
    /* cursor: none; */
}

#cursor{
    height: 22px;
    width: 22px;
    background-color: #EDBFFF;
    border-radius: 50%;
    position: fixed;
    z-index: 8;
    mix-blend-mode: difference;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size: cover;
    /* transition: all ease 0.1s; */
}

/* #play{
    padding:.5vw 1vw;
    background-color:#EDBFFF;
    position: fixed;
    font-size: 1vw;
    text-align: center;
    font-family: pp mori;
    border-radius: 50px;
    opacity: 0;
    scale:0; 
    align-items: center;

    z-index: 9;

} */

#page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 30vh;
}
#nav{
    height: 5.3vh;
    width: 100%;
    background-color: black;
    /* border-bottom: 2px solid grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 99;
}
#nav img{
    height: 100%;
    width: auto;
    object-fit: cover;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-family: Gilroy;
}
#nav h4{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

#nav-part3 #circle{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

#page1 h1{
    font-size: 8vw;
    font-family: pp mori;
    font-weight: 300;
    margin-left: 8vw;
}
#page1 h2{
    font-size: 8vw;
    font-family: pp mori;
    font-weight: 300;
    margin-left: 25vw;
    margin-bottom: 9vw;
}

#page1 video{
    width: 60%;
    position: relative;
    left:50%;
    transform: translate(-50%,0); 
}

#page2{
    min-height: 80vh;
    width: 100%;
    padding-top: 2.1vw;
    padding: 100px 5vw;
    border-bottom: 3px solid #dadada;
    position: relative;
    z-index: 9;

}
#page2 h1{
    font-size: 7vw;
    font-weight: 300;
    font-family: pp mori;
    color: #0f0D0D;
}
#page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page2-left{
    /* background-color: blue; */
    width: 37%;
}
#page2-right{
    /* background-color: blue; */
    width: 26%;
    margin-right: 5vw;
}

#page2-left h2{
    font-size: 3.6vw;
    font-weight: 250;
    color: #111;
    font-family: pp mori;
}
#page2-right p{
    /* background-color: blue; */
    color: #111;
    font-family: pp mori;
    font-size: 1.3vw;
    font-weight: 200;
}
#page2-right button{
    width: 100%;
    color: #111;
    border-radius: 50px;
    padding: 4px 0;
    border: none;
    margin-top: 20px;
    background-color: #EDBFFF;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
}
#page3 h1{
    font-size: 6.8vw;
    font-weight: 250;
    /* background-color: red; */
    color: #111;
    font-family: pp mori;
    margin-top:4.5vw;
    margin-left: 5vw;
}
#page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page3-part1 img{
    height: 500px;
    margin-top: 250px;
}
#page3-part1 video{
    height: 450px;
    margin-top: 100px;
    margin-right: 4vw;
}

#page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: -2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    color: #fff;
    transition: all ease-out 0.5s;
    font-family: pp mori;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

#page5{
    height: 90vh;
    width: 100%;
    position: relative;
    /* background-color: blue; */
    z-index: 9;
    padding: 80px 80px;
}
#page5 h2{
    font-family: pp mori;
    font-size: 5.2vw;
    font-weight: 400;
    margin-bottom: 10px;
}
#page5 #box{
    /* background-color: red; */
    font-family: pp mori;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}
#box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}

footer{
    min-height: 100vh;
    width: 100%;
    background-color: pink;
    position: relative;
    display: flex;
}
#footer-left{
    /* background-color: red; */
    height: 100vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-right{
    /* background-color: green; */
    height: 100vh;
    width: 30%;
}
#footer-left h3{
    font-size: 8vw;
    color: #0f0D0D;
    /* background-color: #000; */
    font-family:  pp mori;
}
#footer-left p{
    position: absolute;
    left: 7%;
    font-family: pp mori;
    font-size: 1.5vw;
    top: 80%;
    color: #0f0D0D;
    /* background-color: pink; */
    
}
#footer-left h1{
    position: absolute;
    top: 96%;
    font-size: 1vw;
    font-weight: 50;
    font-family: pp mori;
    left: 2%;
    color: #0f0D0D;
    width: 100%;
}

#footer-right{
    /* background-color: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-right h1{
    height: 170px;
    width: 170px;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-family: pp mori;
    background-color: white;
    color: #0f0D0D;
    border-radius: 50%;
}

@media(max-width: 600px){
    .main{
        flex-direction: column;
    }
    #nav{
        padding: 0 3vw;
        /* background-color: red; */
    }
    #nav h4{
        font-size: 2.3vw;
    }
    #nav img{
        height: 10vw;
    }

    #page1{
        min-height: 70vh;
        padding-top: 18vh;
    }
    #page1 video{
        width: 79%;
    }
    #page2{
        min-height: 43vh;
        padding: 9px 5vw;
    }
    #page2 h2{
        color: red;
    }
    #page2 h1{
        color: red;
    }
    #page2 p{
        color: red;
    }
    #page2-container{
        height: 30vh;
    }
    #page2-left h2{
        font-size: 3vh;
        width: 50vw;
    }
    #page2-right{
        width: 30vw;
        /* background-color: rebeccapurple; */
    }
    #page2-right p{
        font-size: 3vw;
        font-size: 1vh;
    }
    #page3-part1{

    }
    #page3-part1 img{
        height: 10px;
        margin-top: 250px;
    }
    #page3-part1 video{
        margin-right: 4vw;

    }
    
}